body{
  margin:0 auto;
  padding:2px;
  padding-top:50px;
  background-image: url("SupportFiles/pics/background3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration:0.25s;
  overflow-y: scroll;

}
header {
  position:fixed;
  background: rgba(255,255,255,0.95);
  max-height:530px;

  height:auto;
  width:98%;
  
  min-width:200px;
  top: 5px;
  left:0;
  right:0;
  margin:0 auto;
  border: 1px solid black;
  border-radius:12px;
  z-index:98;
}
nav {
  box-shadow: inset 0 0 0 1px black;
  line-height:5vmin ;
  background-color:none;
  width:100%;
  min-width:95%;

  height: calc(5vmin + 1px);
  font-size: 4vmin;
  font-family: "Arial";
  list-style-type: none;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  z-index: 99;
position:absolute;
  bottom:0;
}

nav li:first-child a {
  border-bottom-left-radius: 10px; /* Apply border radius to the bottom left corner of the first option */
}

nav li:last-child a {
  border-bottom-right-radius: 10px; /* Apply border radius to the bottom right corner of the last option */
}
section {

  position:static;
  height:auto;
  padding-top:15vmin;
  color:black;
  text-shadow:none;
  width:90%;

  font-family:"trebuchet ms";
  font-size:clamp(10px, 1.5vw, 25px);
  line-height: 4vmin;
  border-radius:25px;
  margin:0 auto;

}
footer {

  background-color:none;
    color:Black;
    clear:both;
    text-align:center;
    padding:10px;
}
h1{
  font-size:clamp(15px, 2.5vw, 35px);
  font-weight:bold;
  text-align:left;
  max-height:150px;
  line-height:2.5vw;

}
div.content{
  width:90%;
  max-width:1080px;
  min-width:200px;
  margin:0 auto;
}

.profile{
  display: block;
  margin-right:20px;
  margin-bottom:5vmin;
  padding-left: 0px;
  padding-bottom: 0px;
  position:left;
  height: 14vmin;
  max-height:162px;
  border-top-left-radius:10px;
  float:left;
}
.demogif{
  display: block;
  margin:auto;
  padding-right: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
  position:left;
  height: 50vmin;
  
}

nav li a {
  float:left;
  margin:0;
  padding:0;
  width:20%;
  height: 5vmin;
  background-color:none;
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  font-size:75%;
}

nav li a:hover {
  background-color:rgb(188, 196, 211);
  transition-duration:0.6s;
  box-shadow: inset 0 0 0 1px black;
  text-shadow: 0px 1px #000000

}

.h3{
  font-size:2vmin;
  font-weight:bold;
  text-align:left;
  line-height: 25px;
}
p.name{

  font-size:5vmin;
  font-family:"Verdana";
  color: rgba(0,0,0,1);
  text-align:left;
  width:100%;
  margin-top:3vmin;
  max-height:100px;
  max-width:100%;
  align-items:center;
}
p.person{

  font-size:6vmin;
  font-family:"Verdana";
  color: rgba(0,0,0,1);
  text-align:left;
  width:100%;
  margin-top:3vmin;

  align-items:center;
}
.contactme{
  width:70%;
  height:auto;
  padding-top:10px;
  padding-left:3px;
  padding-right:5px;
  margin-bottom:200px;
  float:left;
}
.contactmetextarea{
  width:100%;
  margin-bottom:1000px;
  float:left;
}
ul li a.ignore-css:hover{cursor:help; border-style:outset; border-width:1px; transition-duration: 0.1s;}
ul li a.ignore-css {padding:3px; border-radius:10px;text-decoration:none; color:rgb(8, 136, 153);transition-duration: 0.2s;}

li a.course{
  color: #000;
  text-decoration: none;
}
.desc{
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 20px;
}
ul li c.desctitle:hover{
  cursor:pointer; 
  color:white;
  transition-duration:0.5s;
} 
ul li c.desctitle{
  transition-duration:0.5s;
} 
.achdesc{
  font-size: 14px;
  line-height: 20px;
  font-weight:normal;
}

.clear{
  clear:both;
}
span.stuff{
  display:inline-block;
  width:30%;
  align-self: left;
}
span.bar{
  display:inline-block;
  width:30%;
  align-self:right;
  padding-left: 35px
}
span.icon{
    display:inline-block;
    width:20px;
    align-self: center;
}
span.soft{
    display: inline-block;
    padding-left:10px;
}
.contactpage {
  height: auto;
  min-height:100px;
  margin:0 auto;
  border-collapse: collapse;
}
textarea{
  width:  calc(50vw - 20px);      /* calc and viewport to the rescue */
  height: auto;
  resize: none;
}
.checked{
  /* color:#1976D2; */
  color:#0086b3;
  -webkit-text-stroke:1px black;
}

a.Link{
  font-size:4vmin;
  color:Black;
  border-radius:10px;
  text-decoration:none;
  position: relative;
  display: inline-block;
  margin-left:1vw;
  margin-right:1vw;
}

#emaillink{
  color:#D44638;


}
#linkedinlink{
  color:#0e76a8;
}



#gitlink{
  color:#6e5494;


}
#reslink{
  color:hsl(0, 0%, 80%);
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 1px;

}

